*.exe
*.txt
*.docx
.vscode
.vs
# ignorando arquivos de compilação gerados pelo Arch Linux
01. Estrutura Sequencial/
02. Estrutura Condicional/
03. Estrutura de Repeticao/
04. Vetor/
05. Matriz/
06. Funcoes/
07. Estrutura de Dados/
/.idea/

# CMake
cmake-build-*/